.home, .checkin, .checkout, .admin{
	width: 75%;
	margin: 0 auto;
	position:fixed;
	left:12.5%;
	top:15%;
	bottom:15%;
	text-align: center;
	
	background: rgba(255,255,255,.5);
	border-radius: 15px;
	font-family: 'Russo One', sans-serif;
	
	
}
.error{
	padding-top: 0;
	color:red;
}
.home .btn-default{ 
	font-size: 3vw;
	
}
form span{
	display:block;
	padding-top: 30px;
}

form div{
	display:block;
	text-align:center;
}
.checkin .btn-default, .checkout .btn-default, .admin .btn-default{
	font-size: 1vw;
}
.home h1, .checkin h1, .checkout h1, .admin h1{
	padding-bottom:  2%;
	font-size: 3vw;
}
html:before{
	content: '';
	display:block;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-image: url("../img/background.png");
	background-position: 100% 0;
	background-size:cover;
	z-index: -1;
	
}
html{
	overflow:hidden;
}

@media (min-width:320px)  { 
	
    
	}/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:481px)  {

    
	} /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:641px)  { 

    
	}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:961px)  { 

    
	}/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:1025px) { 

    
	}/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1281px) { 

    
	}/* hi-res laptops and desktops */ 
