body {
	margin-top: 50px; 

}

html:before{
	content: '';
	position:fixed;
	width:100%;
	height:100%;
	background-image: url("../img/background.jpg");
	background-position: 100% 0;
	background-size:cover;
}

/*Main App Container*/
.app-container{		
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		margin: auto;
		margin-top: 2%;
		padding: 10px;		
	}

.app-container a:link {
	text-decoration: none;
}

.app-container a:visited {
	text-decoration: none;
}

.app-container a:hover {
	text-decoration: none;
}

.app-container a:active {
	text-decoration: none;
}


.app-container-bottom{
		text-align: center;
		margin-top: 20px;
}

.app-container-back{
	position: static;
	margin-left: -50px;
	color: #022257;
	font-size: 1.5em;
	margin-bottom:-50px;
}

.app-container-header{
    font-family: 'Roboto', sans-serif;
	text-align: center;
}

.header1{
    font-weight:700;
}

.app-footer-logo {
	 display:block;
	margin:auto;
}

/*Home Page*/

.home-header {
	background-color: #011941;
	background: url("../img/Seal_LA.png") center / contain no-repeat;
}
.home-logo {
	 display:block;
	margin:auto;
	padding:15px;

}

.app-footer-logo {
	 display:block;
	margin: 20px auto 20px auto;
}

.home-button {
	text-align: center;
    font-family: 'Roboto', sans-serif;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #294b7b;
	font-size: 2em;
	margin: 0 0 10px;
	padding: 20px 0;
    cursor:default;
   
}

.home-button:hover {
	background: #011941;
	color: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.4);
	background: -webkit-linear-gradient(#022257, #011941); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#022257, #011941); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#022257, #011941); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#022257, #011941); /* Standard syntax (must be last) */
    cursor:default;
}

.home-button-span {
	  display: inline-block;
	margin: 0;
	overflow: hidden;
	position: relative;
}


/*Check Pages*/
.alert {
	border-radius: 0px;
}

.check-input-icon{
	color: #022257;
}

.check-button {
	border-radius: 0px;
	text-align: center;
	background: #022257;
	color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	font-size: 18px;
	margin: 0 0 10px;
	padding: 20px 0;
}

.checkIn-button {
	border-radius: 0px;
	text-align: center;
	color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	font-size: 18px;
	margin: 0 0 10px;
	padding: 20px 0;
}

#loader {
	display: none; 
	text-align: center; 
	margin: auto;
	margin-bottom: 10px;
}

/*Table*/
#table-data {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: auto; 
}

#table-data td {
	border: 1px solid #ddd;
	padding: 8px;
}

#table-data tr:nth-child(even){
	background-color: #f2f2f2;
}

#table-data tr:hover {
	
}

.table-data-api{
   
}

/*Views Transition Effects*/
.fade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.fade.ng-enter {
	opacity: 1;
}
.fade.ng-enter-active {
	opacity: 1;
}
.fade.ng-leave {
	opacity: 1;
}
.fade.ng-leave-active {
	opacity: 0;
}

/*Admin*/
.admin-container{
	width: 90%;
    padding: 10px;
}

.panel-container{
    background-color: #022257;
    padding: 10px;
    margin-bottom:10px;
}

.admin-search{
    margin: 10px;
}
 .panel-dashboard{
   font-family: 'Roboto', sans-serif;
   border: 2px dashed  #fff;
   background-color: #022257;
   color: #fff;
 }
.admin-back{
	position: static;
	margin-left: -15px;
	color: #022257;
	font-size: 1.5em;
	margin-bottom:-50px;
}
.admin-panel-number{
	font-size: 3em;
	
	margin-bottom: -10px;
}

.panel-spacing{
	margin-left: -15px;
}
.panel-success{
	background: #63bb16;
}

/*Table*/
.table-admin{
   table-layout: fixed;
   font-family: 'Roboto', sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: auto; 
}
.table-admin th {
    padding: 12px;
    text-align: left;
    background-color: #022257;
    color: white;
     border: 1px solid #ddd;
}
#table-admin-data td {
	border: 1px solid #ddd;
	padding: 8px;
}

#table-admin-data tr:nth-child(even){
	background-color: #f2f2f2;
}

/* Modals*/
.modal-vertical-align {
    display:table;
    height: 100%;
    width: 100%;
}
.modal-align-center {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: -30% auto;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}
 .modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: none;
  }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: none;
}

@media (min-width:320px)  { 
 
	
	}/* smartphones, iPhone, portrait 480x320 phones */ 

@media (min-width:481px)  {

	
	} 
@media (max-width:481px)  {
	   .app-container{		
		margin-top: 5%;

	}

	
	}/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:641px)  { 
	.container{
		max-width: 650px;
	}
	
	}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:961px)  { 
	.container{
		max-width: 650px;
	}
	
	}/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:1025px) { 
	.container{
		max-width: 650px;
	}
	
	}/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1281px) { 

	.container{
		max-width: 650px;
	}

    .admin-container{
	max-width: 1000px;
    }
	}/* hi-res laptops and desktops */ 


