<div class="app-container container">
    <div class="row">
        <div id="div1" class="col-sm-10 col-sm-offset-1">

            <!-- Page Header -->
            <a href="#!/" class="btn btn-outline-primary app-container-back"><span class="glyphicon glyphicon-menu-left "></span>Back</a>
            <h1 class="app-container-header"> Check-In</h1>
            <h4 class="app-container-header"> Step 1: Find Car</h4>
            <hr />
            <div ng-bind-html="renderHtml(resultMessage)"></div>
            <!-- Form -->
            <form name="userForm" ng-submit="findCar()" ng-show="showForm" novalidate>
                <!-- Car ID -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.carID.$invalid && !userForm.carID.$pristine }">
                    <label for="carID" class="cols-sm-2 control-label">Car ID</label>
                    <div class="input-group">
                        <span class="input-group-addon check-input-icon"><span class="glyphicon glyphicon-tag "></span></span>
                        <input type="text" class="form-control" name="carID" id="carID" placeholder="Enter the checked out car ID" ng-model="carID" required>

                    </div>
                    <p ng-show="userForm.carID.$invalid && !userForm.carID.$pristine" class="help-block">The car ID is required.</p>
                </div>

                <!-- Email -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <label for="email" class="cols-sm-2 control-label">Email</label>
                    <div class="input-group">
                        <span class="input-group-addon check-input-icon"><span class="glyphicon glyphicon-envelope "></span></span>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your Email" ng-model="email" required>

                    </div>
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                </div>

                <!-- Submit -->

                <button type="submit" class="btn btn-primary btn-lg btn-block check-button" ng-disabled="userForm.$invalid"><span class="glyphicon glyphicon-search"></span> Find Car</button>

                <div class="cancel-button">
                    <a href="#!/">Cancel</a>
                </div>
            </form>






        </div>
    </div>
</div>

